body {
    
    margin: 0; 
}

.background1 {
    background-image: url(images/sky.jpg);
    background-position: top;
    background-size: cover;
}

main {
    background-image: url(images/bg.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    overflow: hidden; 
}


.background1 .haut {
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    align-items :center;
    width: 100%;
}
.background1 .logo {
    grid-column: 1/2;
    justify-self:start;
    font-size: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.background1 .titre {
    grid-column: 2/3;
    justify-self: center;
    text-align: center;
    padding: 2rem;
    height:auto;
    font-size: 6rem ;
}

.titre span {
    flex-shrink: 0;
}



.groupe {
    display: grid;
    
    gap: 0; 
    align-items: stretch; 
    

    max-width: 900px; 
    margin: 4rem auto; 
    
    padding: 0;
    

    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden; 
}



.texte-gauche {
    grid-template-columns: 1fr 1fr; 
}



.texte-droit {
    grid-template-columns: 1fr 1fr; 
}


.groupe .texte {
    
    aspect-ratio: 1;

   
    margin: 0;

    box-sizing: border-box;

    background-color: white;
    font-size: 1.5rem;
    padding: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.img1 {
    aspect-ratio: 1;
    display: block;
    height: auto;
   
    object-fit: cover; 
}



.galerie-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 250px);
    
    gap: 15px; 
    max-width: 1200px; 
    margin: 2rem auto; 
    padding: 15px;
}

.galerie-container .image {
    position: relative; 
    overflow: hidden; 
}


.galerie-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;ss
    display: block;
    filter: brightness(0.9);
}

.galerie-container .image figcaption {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px; 
    max-width: 90%; 
    box-sizing: border-box; 
}



.footer {
    background-image: url(images/pp2.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    
    padding: 2rem;
    color: white;
    font-size: 1.5rem;
}


.align{
display:flex;
 align-items: stretch;
}