
html {
    height: 50%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #32b6ba;
}

body>* {
    width: 70%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

#create {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
}

#checkPass {
    grid-column: span 4;
    border: 1px grey dotted;
    color: hsl(0, 0%, 20%);
    align-self: center;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr 1fr;
    column-gap: 1rem;
    justify-items: flex-end;
}

#checkPass div {
    grid-column: span 6;
    justify-self: center;
    padding-bottom: 0.5rem;
}

input[type='checkbox'] {
    appearance: none;
    height: 0.9rem;
    width: 0.9rem;
    margin: 0;
    justify-self: flex-start;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 2px;
    background-color: rgb(252, 205, 205);
    color: white;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

input[type='checkbox']:checked {
    background-color: green;
    clip-path: polygon(17% 47%, 35% 66%, 79% 20%, 100% 40%, 35% 100%, 0 65%);
}

#login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
}

input {
    width: 100%;
}

#boutons {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    column-gap: 0.5rem;
}

button {
    padding: 0;
}

button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
}

button:active {
    box-shadow: inset 1px 1px 3px black;
}

button[type="reset"]:hover {
    background-color: rgb(255, 138, 138);
}

button[type="submit"]:hover {
    background-color: rgb(191, 255, 202);
}

button:has(a):hover {
    background-color: rgb(172, 217, 255);
}

a {
    margin: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: unset;
    color: unset;
}